#top {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
#middle {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center
}
#bottom {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center
}
.link a {
  color: aquamarine;
  font-size: 16px;
}
.info {
  font-family: verdana;
  font-size: 21px,
  color: gray,
}
.close {
  text-align: right;
  color: gray;
}
